@import url(/css/components/sidebar.css);
@import url(/css/customproperties.css);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--fuente-principal);
}

body {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 14% 86%;
}