@import url(/css/components/sidebar.css);
@import url(/css/customproperties.css);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--fuente-principal);
}

body {
    height: 100vh;
    width: 100vw;
}

main {
    margin-left: 14%;
    padding: 20px;
    height: 100vh;
    overflow-y: auto;
}