/* ================================ */
/* ===== ARCHIVO PRINCIPAL ======== */
/* ================================ */

/* Variables globales */
@import url(/css/customproperties.css);

/* Base */
@import url(/css/base/reset.css);

/* Layout */
@import url(/css/layout/tablero.css);

/* Componentes */
@import url(/css/components/sidebar.css);
@import url(/css/components/tarjetas.css);
@import url(/css/components/grafico-barras.css);
@import url(/css/components/resumen-semanal.css);
@import url(/css/components/grafico-pastel.css);
@import url(/css/components/grafico-margen.css);