/* ================================ */
/* ===== ARCHIVO PRINCIPAL ======== */
/* ================================ */

/* Variables globales */
@import url(./customproperties.css);

/* Base */
@import url(./base/reset.css);

/* Layout */
@import url(./layout/tablero.css);

/* Componentes */
@import url(./components/sidebar.css);
@import url(./components/tarjetas.css);
@import url(./components/grafico-barras.css);
@import url(./components/resumen-semanal.css);
@import url(./components/grafico-pastel.css);
@import url(./components/grafico-margen.css);
@import url(./components/producto.css);
@import url(./components/modal.css);

/* Responsive */
@import url(./layout/responsive.css);