/* =================== */
/* ===== RESET ======= */
/* =================== */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--fuente-principal);
}

body {
    height: 100vh;
    width: 100vw;
    background: #f5f6fa;
}

main {
    margin-left: 17%;
    padding: 20px;
    height: 100vh;
    overflow-y: auto;
}